
[common]

sshCommand = ssh ${device.username}@${device.name}

telnetCommand = telnet ${device.name} ${device.port}

#cache = cache.sqlite

# wait responseMaxWaitTime seconds for a device response before raising timeout event
maxWait = 5

# wait waitBeforeClearingBuffer seconds for some more output before clearing the output buffer
# after the login phase and before sending the shell commands  
waitBeforeClearingBuffer = 1

# perform pattern exact match. Use with caution because
# all eventual patterns based on regular expressions match as exact strings
exactPatternMatch = False

# enable/disable prompt discovery
discoverPrompt = True

# if True enable another expect loop to check if more output arrived after 
# prompt match or the first expect loop timeout. This extra control slows down the the interaction.
checkIfOutputComplete = False


  [[events]]
 	[[[username_event]]]
 		beginState       = 'GROUND'
  		pattern     = "login:[ ]*"
		action      = sendUsername
	
	[[[password_event]]]
		pattern     = "(?i)password:[ ]*"
		beginState  = GROUND
		action      = sendPassword
		endState    = PASSWORD_SENT

    [[[password_sent]]]
		beginState = PASSWORD_SENT
		action = cliIsConnected
		endState = USER_PROMPT
		
	[[[continue_connecting]]]
		pattern = 'continue connecting \(yes/no\)\?'
		beginState   = GROUND
		action  = :send:yes:

	[[[permission_denied]]]
		pattern = 'Permission denied, please try again.'
		action  = permissionDenied

	[[[connection_refused]]]
		pattern = '(?i)connection refused'
		action  = connectionRefused


[linux]

parent = common

# enable/disable prompt discovery
discoverPrompt = True

[ciscoios]
	
parent = common	
	
# enable/disable prompt discovery
discoverPrompt = True

  [[events]]

 	[[[username_event]]]
 		beginState       = 'GROUND'
  		pattern     = "(?i)username:"
		action      = sendUsername
  
	[[[password_event]]]
		pattern     = "(?i)password:[ ]*"
		beginState  = GROUND
		action      = sendPassword
		endState    = PASSWORD_SENT

	# just an example, user_promp event trigger the initCisco Terminal
	# that disable the paging 
	[[[more]]]
		pattern     = "--[ ]*More[  ]*--"
		action      = :send: :

    [[[password_sent]]]
		beginState = PASSWORD_SENT
		action = cliIsConnected
		endState = USER_PROMPT

	[[[user_prompt]]]
		action = initCiscoTerminal

	[[[enable_password]]]
		beginState  = USER_PROMPT
		pattern     = "(?i)password:"
		action      = sendPassword
		endState    = ENABLE_PASSWORD_SENT

	[[[enable_password_sent]]]
		beginState  = ENABLE_PASSWORD_SENT
		action      = cliIsConnected
		endState    = ENABLE_PROMPT
		
	
		